<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="M_Adnan">
<title>Pizza Mia - Pizza Composer HTML5 Template</title>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/ionicons.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!-- JavaScripts -->
<script src="js/modernizr.js"></script>

<!-- Online Fonts -->
<link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,600italic,700italic,100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800' rel='stylesheet' type='text/css'>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>

<!-- Wrap -->
<div id="wrap"> 
  
  <!-- Top Bar -->
  <div class="top-bar tri-white-bottom">
    <div class="container"> 
      
      <!-- Pull Left --> 
      <span class="numb">Order Now (02) 123-456-7890</span> 
      <!-- Social Icons -->
      <div class="social"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-instagram"></i></a> </div>
      <span class="time-ta">We Are Open 10:00am - 11:00pm</span> 
      
      <!-- Pull Right -->
      <div class="pull-right">
        <ul class="login-info">
          <li>
            <select class="selectpicker">
              <option>EN</option>
              <option>FR</option>
              <option>AR</option>
            </select>
          </li>
          <li> <a href="#.">Login</a> </li>
          <li> <a href="#.">Register</a> </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- header -->
  <header class="header-1">
    <div class="sticky">
      <div class="container"> 
        
        <!-- Logo -->
        <div class="logo"> <a href="index.html"><img class="img-responsive" src="images/logo-1.png" alt="" ></a> </div>
        <!-- Navigation -->
        <nav class="navbar"> 
          <!-- NAV -->
          <ul class="nav ownmenu">
            <li> <a href="index.html#home">Home </a></li>
            <li> <a href="index.html#about">About Us </a> </li>
            <li> <a href="index.html#our-menu">Our Menu </a> </li>
            <li> <a href="index.html#restaurant">Restaurant </a> </li>
            <li> <a href="index.html#testimonials">Testimonials </a> </li>
            <li> <a href="index.html#contact">Contact </a> </li>
            <li> <a href="index.html">Pages </a>
              <ul class="dropdown right animated-3s fadeIn">
                <li> <a href="02-Composer-Step1.html">Composer Step 1</a> </li>
                <li> <a href="03-Composer-Step2.html">Composer Step 2</a> </li>
                <li> <a href="04-Composer-Step3a.html">Composer Step 3a</a> </li>
                <li> <a href="05-Composer-Step3b.html">Composer Step 3b</a> </li>
                <li> <a href="06-Composer-Step3c.html">Composer Step 3c</a> </li>
                <li> <a href="Composer-SinglePage-MultiPizza.html">Composer Multi Pizza</a> </li>
                <li> <a href="Composer-SinglePage-SinglePizza.html">Composer Single Pizza</a> </li>
              </ul>
            </li>
          </ul>
          
          <!-- Nav Right -->
          <div class="nav-right"> <a href="#." class="compose">Compose Pizza <i class="fa fa-check-square-o"></i></a> </div>
        </nav>
      </div>
    </div>
  </header>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Top Compose Bar -->
    <section class="progress-bars-top">
      <div class="container">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"> <span> $ 9.00 </span> </div>
        </div>
      </div>
    </section>
    
    <!-- Order Step -->
    <div class="order-steps text-center padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading step-head text-center"> <span>Step 2</span>
          <h6>Select Size of your Pizza</h6>
        </div>
        
        <!-- Pizza Size -->
        <div class="pizza-sizes">
          <form role="form">
            <ul class="row">
              
              <!-- Small Size -->
              <li class="col-sm-4">
                <div class="radio">
                  <input type="radio" name="pizza-size" id="small-pizza" value="option1">
                  <label for="small-pizza"> <img class="img-responsive" src="images/pizza-small-img.png" alt="" ><span>Small</span> </label>
                </div>
              </li>
              
              <!-- Med Size -->
              <li class="col-sm-4">
                <div class="radio">
                  <input type="radio" name="pizza-size" id="med-pizza" value="option2" checked>
                  <label for="med-pizza"> <img class="img-responsive" src="images/pizza-med-img.png" alt="" > <span>Normal</span> </label>
                </div>
              </li>
              
              <!-- Large Size -->
              <li class="col-sm-4">
                <div class="radio">
                  <input type="radio" name="pizza-size" id="large-pizza" value="option3">
                  <label for="large-pizza"> <img class="img-responsive" src="images/pizza-large-img.png" alt="" > <span>Extra Large</span> </label>
                </div>
              </li>
            </ul>
          </form>
        </div>
        <hr class="margin-top-50 margin-bottom-50">
        <a href="02-Composer-Step1.html" class="btn btn-round btn-dark btn-small margin-right-10">Prev Step</a> <a href="04-Composer-Step3a.html" class="btn btn-round btn-dark btn-small margin-left-10">Next Step</a> </div>
    </div>
  </div>
  
  <!-- FOOTER -->
  <footer class="tri-white-top">
    <div class="container">
      <div class="row">
        <div class="col-md-8 center-block text-center"> <img class="margin-bottom-50" src="images/logo-foot.png" alt="" >
          <div class="row">
            <div class="col-md-6">
              <p>We love Italy, we love italian food. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero.</p>
            </div>
            <div class="col-md-6">
              <p>Pizza is here, we love italian food. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus. BON APPETIT!</p>
            </div>
          </div>
          
          <!-- NEWSLETTER -->
          <div class="newsletter">
            <h6>Join Newsletter</h6>
            <form>
              <label>
                <input type="search" placeholder="Your Email Address">
              </label>
              <button type="submit"><i class="fa fa-envelope-o"></i></button>
            </form>
          </div>
          
          <!-- Social Icons -->
          <div class="social-icons"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-google"></i></a> </div>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- RIGHTS -->
  <section class="rights tri-white-top">
    <div class="container">
      <p>Copyright 2016 © Pizza Mia. All rights reserved. Powered by UOUapps</p>
    </div>
  </section>
</div>
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/own-menu.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.t.min.js"></script> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.min.js"></script> 
<script src="js/main.js"></script> 

<!-- Begin Map Script--> 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> 
<script src="js/map.js"></script>
</body>
</html>