<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="M_Adnan">
<title>Pizza Mia - Pizza Composer HTML5 Template</title>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/ionicons.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!-- JavaScripts -->
<script src="js/modernizr.js"></script>

<!-- Online Fonts -->
<link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,600italic,700italic,100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800' rel='stylesheet' type='text/css'>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>

<!-- Wrap -->
<div id="wrap"> 
  
  <!-- Top Bar -->
  <div class="top-bar tri-white-bottom">
    <div class="container"> 
      
      <!-- Pull Left --> 
      <span class="numb">Order Now (02) 123-456-7890</span> 
      <!-- Social Icons -->
      <div class="social"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-instagram"></i></a> </div>
      <span class="time-ta">We Are Open 10:00am - 11:00pm</span> 
      
      <!-- Pull Right -->
      <div class="pull-right">
        <ul class="login-info">
          <li>
            <select class="selectpicker">
              <option>EN</option>
              <option>FR</option>
              <option>AR</option>
            </select>
          </li>
          <li> <a href="#.">Login</a> </li>
          <li> <a href="#.">Register</a> </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- header -->
  <header class="header-1">
    <div class="sticky">
      <div class="container"> 
        
        <!-- Logo -->
        <div class="logo"> <a href="index.html"><img class="img-responsive" src="images/logo-1.png" alt="" ></a> </div>
        <!-- Navigation -->
        <nav class="navbar"> 
          <!-- NAV -->
          <ul class="nav ownmenu">
            <li> <a href="index.html#home">Home </a></li>
            <li> <a href="index.html#about">About Us </a> </li>
            <li> <a href="index.html#our-menu">Our Menu </a> </li>
            <li> <a href="index.html#restaurant">Restaurant </a> </li>
            <li> <a href="index.html#testimonials">Testimonials </a> </li>
            <li> <a href="index.html#contact">Contact </a> </li>
            <li> <a href="index.html">Pages </a>
              <ul class="dropdown right animated-3s fadeIn">
                <li> <a href="02-Composer-Step1.html">Composer Step 1</a> </li>
                <li> <a href="03-Composer-Step2.html">Composer Step 2</a> </li>
                <li> <a href="04-Composer-Step3a.html">Composer Step 3a</a> </li>
                <li> <a href="05-Composer-Step3b.html">Composer Step 3b</a> </li>
                <li> <a href="06-Composer-Step3c.html">Composer Step 3c</a> </li>
                <li> <a href="Composer-SinglePage-MultiPizza.html">Composer Multi Pizza</a> </li>
                <li> <a href="Composer-SinglePage-SinglePizza.html">Composer Single Pizza</a> </li>
              </ul>
            </li>
          </ul>
          
          <!-- Nav Right -->
          <div class="nav-right"> <a href="#." class="compose">Compose Pizza <i class="fa fa-check-square-o"></i></a> </div>
        </nav>
      </div>
    </div>
  </header>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Top Compose Bar -->
    <section class="progress-bars-top">
      <div class="container">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"> <span> $ 16.00 </span> </div>
        </div>
      </div>
    </section>
    
    <!-- Order Step -->
    <div class="order-steps light-gray-bg text-center padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Step 1 --> 
        <!-- Heading -->
        <div class="heading step-head text-center"> <span>Step 1</span>
          <h6>How many pizzas do you want?</h6>
        </div>
        
        <!-- Quantity -->
        <div class="quantity">
          <form action="#">
            <div class="pizza-add-sub">
              <input type="text" value="1"/>
            </div>
          </form>
        </div>
        <hr class="margin-top-50 margin-bottom-50">
        
        <!-- Step 2 --> 
        
        <!-- Heading -->
        <div class="heading step-head text-center"> <span>Step 2</span>
          <h6>Select Size of your Pizza</h6>
        </div>
        
        <!-- Multi Pizza -->
        <div class="multi-pizza">
          <ul>
            
            <!-- Pizza 1 -->
            <li>
              <div class="media-left">
                <div class="icon"><img src="images/pizza-icon.png" alt=""></div>
              </div>
              <div class="media-body">
                <h5>Pizza 1</h5>
                <div class="chose-btn"> <a href="#." class="btn btn-small btn-round">Small</a> <a href="#." class="btn btn-small btn-round">Normal</a> <a href="#." class="btn btn-small btn-round selected"> <i class="fa fa-check"></i>Large</a> </div>
              </div>
            </li>
            
            <!-- Pizza 2 -->
            <li>
              <div class="media-left">
                <div class="icon"><img src="images/pizza-icon.png" alt=""></div>
              </div>
              <div class="media-body">
                <h5>Pizza 2</h5>
                <div class="chose-btn"> <a href="#." class="btn btn-small btn-round">Small</a> <a href="#." class="btn btn-small btn-round">Normal</a> <a href="#." class="btn btn-small btn-round">Large</a> </div>
              </div>
            </li>
            
            <!-- Pizza 3 -->
            <li>
              <div class="media-left">
                <div class="icon"><img src="images/pizza-icon.png" alt=""></div>
              </div>
              <div class="media-body">
                <h5>Pizza 3</h5>
                <div class="chose-btn"> <a href="#." class="btn btn-small btn-round">Small</a> <a href="#." class="btn btn-small btn-round">Normal</a> <a href="#." class="btn btn-small btn-round">Large</a> </div>
              </div>
            </li>
          </ul>
        </div>
        <hr class="margin-top-30">
        
        <!-- Heading -->
        <div class="heading step-head text-center margin-top-80"> <span>Step 3</span>
          <h6>Select pizza type or Compose your own</h6>
        </div>
        
        <!-- Multi Pizza -->
        <div class="multi-pizza">
          <ul>
            
            <!-- Pizza 1 -->
            <li>
              <div class="media-left">
                <div class="icon"><img src="images/pizza-icon.png" alt=""></div>
              </div>
              <div class="media-body">
                <h5>Pizza 1</h5>
                <div class="chose-btn">
                  <ul class="nav-tabs" role="tablist">
                    <!-- I want to select a pizza from list -->
                    <li role="presentation"><a href="#list-pizza" class="btn btn-small btn-round" role="tab" data-toggle="tab"><i class="fa fa-check"></i> Select from list </a></li>
                    
                    <!-- I want to compose My own Pizza -->
                    <li role="presentation"><a href="#own-pizza" class="btn btn-small btn-round" role="tab" data-toggle="tab"><i class="fa fa-check"></i> Compose</a></li>
                  </ul>
                </div>
              </div>
              
              <!-- Tabs Inn -->
              <div class="pizza-sizes select-own"> 
                <!-- Tab panes -->
                <div class="tab-content"> 
                  <!-- List Pizza -->
                  <div role="tabpanel" class="tab-pane" id="list-pizza"> 
                    <!-- Pizza Menu -->
                    <div class="pizza-menu text-left margin-top-40"> 
                      <!-- Flavours -->
                      <ul class="pizza-flavers">
                        <!-- Pizza Flavours -->
                        <li> 
                          <!-- Pizza Image -->
                          <div class="media-left">
                            <div class="menu-img"> <img src="images/menu-img-1.jpg" alt=""> </div>
                          </div>
                          <!-- Pizza Tittles -->
                          <div class="media-body">
                            <div class="menu-tittle">
                              <h5>01. Margherita</h5>
                              <span>Cheese, Tomato Sauce, Garlic, Oregano</span> <br>
                              <textarea class="form-control" placeholder="Add comment to this order"></textarea>
                            </div>
                            <!-- Choose Btn --> 
                            <a href="#." class="choo-pizza active"><i class="fa fa-check"></i> Choosen</a> 
                            
                            <!-- Pizza Price -->
                            <div class="pizza-price">$9.00</div>
                          </div>
                        </li>
                        
                        <!-- Pizza Flavours -->
                        <li> 
                          <!-- Pizza Image -->
                          <div class="media-left">
                            <div class="menu-img"> <img src="images/menu-img-1.jpg" alt=""> </div>
                          </div>
                          <!-- Pizza Tittles -->
                          <div class="media-body">
                            <div class="menu-tittle">
                              <h5>02. Capriciosa</h5>
                              <span>Cheese, Tomato Sauce, Garlic, Oregano</span> </div>
                            <!-- Choose Btn --> 
                            <a href="#." class="choo-pizza"> Choose</a> 
                            <!-- Pizza Price -->
                            <div class="pizza-price">$11.00</div>
                          </div>
                        </li>
                        
                        <!-- Pizza Flavours -->
                        <li> 
                          <!-- Pizza Image -->
                          <div class="media-left">
                            <div class="menu-img"> <img src="images/menu-img-1.jpg" alt=""> </div>
                          </div>
                          <!-- Pizza Tittles -->
                          <div class="media-body">
                            <div class="menu-tittle">
                              <h5>03. Farmer</h5>
                              <span>Cheese, Tomato Sauce, Garlic, Oregano</span> </div>
                            <!-- Choose Btn --> 
                            <a href="#." class="choo-pizza"> Choose</a> 
                            <!-- Pizza Price -->
                            <div class="pizza-price">$14.00</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  
                  <!-- Own Pizza -->
                  <div role="tabpanel" class="tab-pane" id="own-pizza"> 
                    
                    <!-- Heading -->
                    <div class="heading step-head text-center margin-top-50 margin-bottom-50">
                      <h6>Choose Your Ingredients:</h6>
                    </div>
                    
                    <!-- Ingredients -->
                    <div class="ingredients">
                      <ul>
                        <!-- Cheese -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox1-1">
                            <label for="checkbox1-1"> <img src="images/compose-icon-1.png" alt="" > <span>Cheese +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Chicken -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox2-1">
                            <label for="checkbox2-1"> <img src="images/compose-icon-2.png" alt="" > <span>Chicken +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- FIsh  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox3-1">
                            <label for="checkbox3-1"> <img src="images/compose-icon-3.png" alt="" > <span>FIsh  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Avocado  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox4-1">
                            <label for="checkbox4-1"> <img src="images/compose-icon-4.png" alt="" > <span>Avocado  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Broccoli  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox5-1">
                            <label for="checkbox5-1"> <img src="images/compose-icon-5.png" alt="" > <span>Broccoli  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Pepperoni  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox6-1">
                            <label for="checkbox6-1"> <img src="images/compose-icon-6.png" alt="" > <span>Pepperoni  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Olives  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox7-1">
                            <label for="checkbox7-1"> <img src="images/compose-icon-7.png" alt="" > <span>Olives  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Onion  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox8-1">
                            <label for="checkbox8-1"> <img src="images/compose-icon-8.png" alt="" > <span>Onion  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Paprika  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox9-1">
                            <label for="checkbox9-1"> <img src="images/compose-icon-9.png" alt="" > <span>Paprika  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Prawns  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox10-1">
                            <label for="checkbox10-1"> <img src="images/compose-icon-10.png" alt="" > <span>Prawns  +$3.00</span> </label>
                          </div>
                        </li>
                        <!-- Ham  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox11-1">
                            <label for="checkbox11-1"> <img src="images/compose-icon-11.png" alt="" > <span>Ham  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Tomatoes  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox12-1">
                            <label for="checkbox12-1"> <img src="images/compose-icon-12.png" alt="" > <span>Tomatoes  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- eggplant  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox13-1">
                            <label for="checkbox13-1"> <img src="images/compose-icon-13.png" alt="" > <span>eggplant +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Garlic  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox14-1">
                            <label for="checkbox14-1"> <img src="images/compose-icon-14.png" alt="" > <span>Garlic  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- leek  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox15-1">
                            <label for="checkbox15-1"> <img src="images/compose-icon-15.png" alt="" > <span>leek  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Mushrooms -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox16-1">
                            <label for="checkbox16-1"> <img src="images/compose-icon-16.png" alt="" > <span>Mushrooms +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Spinach  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox17-1">
                            <label for="checkbox17-1"> <img src="images/compose-icon-17.png" alt="" > <span>Spinach +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Pineapple  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox18-1">
                            <label for="checkbox18-1"> <img src="images/compose-icon-18.png" alt="" > <span>Pineapple  +$1.00</span> </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            
            <!-- Pizza 2 -->
            <li>
              <div class="media-left">
                <div class="icon"><img src="images/pizza-icon.png" alt=""></div>
              </div>
              <div class="media-body">
                <h5>Pizza 2</h5>
                <div class="chose-btn">
                  <ul class="nav-tabs" role="tablist">
                    <!-- I want to select a pizza from list -->
                    <li role="presentation"><a href="#list-pizza-2" class="btn btn-small btn-round" role="tab" data-toggle="tab"><i class="fa fa-check"></i> Select from list </a></li>
                    <!-- I want to compose My own Pizza -->
                    <li role="presentation"><a href="#own-pizza-2" class="btn btn-small btn-round" role="tab" data-toggle="tab"><i class="fa fa-check"></i> Compose</a></li>
                  </ul>
                </div>
              </div>
              
              <!-- Tabs Inn -->
              <div class="pizza-sizes select-own"> 
                <!-- Tab panes -->
                <div class="tab-content"> 
                  <!-- List Pizza -->
                  <div role="tabpanel" class="tab-pane" id="list-pizza-2"> 
                    <!-- Pizza Menu -->
                    <div class="pizza-menu text-left margin-top-40"> 
                      <!-- Flavours -->
                      <ul class="pizza-flavers">
                        <!-- Pizza Flavours -->
                        <li> 
                          <!-- Pizza Image -->
                          <div class="media-left">
                            <div class="menu-img"> <img src="images/menu-img-1.jpg" alt=""> </div>
                          </div>
                          <!-- Pizza Tittles -->
                          <div class="media-body">
                            <div class="menu-tittle">
                              <h5>01. Margherita</h5>
                              <span>Cheese, Tomato Sauce, Garlic, Oregano</span> <br>
                              <textarea class="form-control" placeholder="Add comment to this order"></textarea>
                            </div>
                            <!-- Choose Btn --> 
                            <a href="#." class="choo-pizza active"><i class="fa fa-check"></i> Choosen</a> 
                            
                            <!-- Pizza Price -->
                            <div class="pizza-price">$9.00</div>
                          </div>
                        </li>
                        
                        <!-- Pizza Flavours -->
                        <li> 
                          <!-- Pizza Image -->
                          <div class="media-left">
                            <div class="menu-img"> <img src="images/menu-img-1.jpg" alt=""> </div>
                          </div>
                          <!-- Pizza Tittles -->
                          <div class="media-body">
                            <div class="menu-tittle">
                              <h5>02. Capriciosa</h5>
                              <span>Cheese, Tomato Sauce, Garlic, Oregano</span> </div>
                            <!-- Choose Btn --> 
                            <a href="#." class="choo-pizza"> Choose</a> 
                            <!-- Pizza Price -->
                            <div class="pizza-price">$11.00</div>
                          </div>
                        </li>
                        
                        <!-- Pizza Flavours -->
                        <li> 
                          <!-- Pizza Image -->
                          <div class="media-left">
                            <div class="menu-img"> <img src="images/menu-img-1.jpg" alt=""> </div>
                          </div>
                          <!-- Pizza Tittles -->
                          <div class="media-body">
                            <div class="menu-tittle">
                              <h5>03. Farmer</h5>
                              <span>Cheese, Tomato Sauce, Garlic, Oregano</span> </div>
                            <!-- Choose Btn --> 
                            <a href="#." class="choo-pizza"> Choose</a> 
                            <!-- Pizza Price -->
                            <div class="pizza-price">$14.00</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  
                  <!-- Own Pizza -->
                  <div role="tabpanel" class="tab-pane" id="own-pizza-2"> 
                    
                    <!-- Heading -->
                    <div class="heading step-head text-center margin-top-50 margin-bottom-50">
                      <h6>Choose Your Ingredients:</h6>
                    </div>
                    
                    <!-- Ingredients -->
                    <div class="ingredients">
                      <ul>
                        <!-- Cheese -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox1-1">
                            <label for="checkbox1-1"> <img src="images/compose-icon-1.png" alt="" > <span>Cheese +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Chicken -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox2-1">
                            <label for="checkbox2-1"> <img src="images/compose-icon-2.png" alt="" > <span>Chicken +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- FIsh  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox3-1">
                            <label for="checkbox3-1"> <img src="images/compose-icon-3.png" alt="" > <span>FIsh  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Avocado  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox4-1">
                            <label for="checkbox4-1"> <img src="images/compose-icon-4.png" alt="" > <span>Avocado  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Broccoli  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox5-1">
                            <label for="checkbox5-1"> <img src="images/compose-icon-5.png" alt="" > <span>Broccoli  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Pepperoni  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox6-1">
                            <label for="checkbox6-1"> <img src="images/compose-icon-6.png" alt="" > <span>Pepperoni  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Olives  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox7-1">
                            <label for="checkbox7-1"> <img src="images/compose-icon-7.png" alt="" > <span>Olives  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Onion  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox8-1">
                            <label for="checkbox8-1"> <img src="images/compose-icon-8.png" alt="" > <span>Onion  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Paprika  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox9-1">
                            <label for="checkbox9-1"> <img src="images/compose-icon-9.png" alt="" > <span>Paprika  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Prawns  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox10-1">
                            <label for="checkbox10-1"> <img src="images/compose-icon-10.png" alt="" > <span>Prawns  +$3.00</span> </label>
                          </div>
                        </li>
                        <!-- Ham  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox11-1">
                            <label for="checkbox11-1"> <img src="images/compose-icon-11.png" alt="" > <span>Ham  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Tomatoes  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox12-1">
                            <label for="checkbox12-1"> <img src="images/compose-icon-12.png" alt="" > <span>Tomatoes  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- eggplant  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox13-1">
                            <label for="checkbox13-1"> <img src="images/compose-icon-13.png" alt="" > <span>eggplant +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Garlic  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox14-1">
                            <label for="checkbox14-1"> <img src="images/compose-icon-14.png" alt="" > <span>Garlic  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- leek  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox15-1">
                            <label for="checkbox15-1"> <img src="images/compose-icon-15.png" alt="" > <span>leek  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Mushrooms -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox16-1">
                            <label for="checkbox16-1"> <img src="images/compose-icon-16.png" alt="" > <span>Mushrooms +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Spinach  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox17-1">
                            <label for="checkbox17-1"> <img src="images/compose-icon-17.png" alt="" > <span>Spinach +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Pineapple  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox18-1">
                            <label for="checkbox18-1"> <img src="images/compose-icon-18.png" alt="" > <span>Pineapple  +$1.00</span> </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            
            <!-- Pizza 3 -->
            <li>
              <div class="media-left">
                <div class="icon"><img src="images/pizza-icon.png" alt=""></div>
              </div>
              <div class="media-body">
                <h5>Pizza 3</h5>
                <div class="chose-btn">
                  <ul class="nav-tabs" role="tablist">
                    <!-- I want to select a pizza from list -->
                    <li role="presentation"><a href="#list-pizza-3" class="btn btn-small btn-round" role="tab" data-toggle="tab"><i class="fa fa-check"></i> Select from list </a></li>
                    <!-- I want to compose My own Pizza -->
                    <li role="presentation"><a href="#own-pizza-3" class="btn btn-small btn-round" role="tab" data-toggle="tab"><i class="fa fa-check"></i> Compose</a></li>
                  </ul>
                </div>
              </div>
              
              <!-- Tabs Inn -->
              <div class="pizza-sizes select-own"> 
                <!-- Tab panes -->
                <div class="tab-content"> 
                  <!-- List Pizza -->
                  <div role="tabpanel" class="tab-pane" id="list-pizza-3"> 
                    <!-- Pizza Menu -->
                    <div class="pizza-menu text-left margin-top-40"> 
                      <!-- Flavours -->
                      <ul class="pizza-flavers">
                        <!-- Pizza Flavours -->
                        <li> 
                          <!-- Pizza Image -->
                          <div class="media-left">
                            <div class="menu-img"> <img src="images/menu-img-1.jpg" alt=""> </div>
                          </div>
                          <!-- Pizza Tittles -->
                          <div class="media-body">
                            <div class="menu-tittle">
                              <h5>01. Margherita</h5>
                              <span>Cheese, Tomato Sauce, Garlic, Oregano</span> <br>
                              <textarea class="form-control" placeholder="Add comment to this order"></textarea>
                            </div>
                            <!-- Choose Btn --> 
                            <a href="#." class="choo-pizza active"><i class="fa fa-check"></i> Choosen</a> 
                            
                            <!-- Pizza Price -->
                            <div class="pizza-price">$9.00</div>
                          </div>
                        </li>
                        
                        <!-- Pizza Flavours -->
                        <li> 
                          <!-- Pizza Image -->
                          <div class="media-left">
                            <div class="menu-img"> <img src="images/menu-img-1.jpg" alt=""> </div>
                          </div>
                          <!-- Pizza Tittles -->
                          <div class="media-body">
                            <div class="menu-tittle">
                              <h5>02. Capriciosa</h5>
                              <span>Cheese, Tomato Sauce, Garlic, Oregano</span> </div>
                            <!-- Choose Btn --> 
                            <a href="#." class="choo-pizza"> Choose</a> 
                            <!-- Pizza Price -->
                            <div class="pizza-price">$11.00</div>
                          </div>
                        </li>
                        
                        <!-- Pizza Flavours -->
                        <li> 
                          <!-- Pizza Image -->
                          <div class="media-left">
                            <div class="menu-img"> <img src="images/menu-img-1.jpg" alt=""> </div>
                          </div>
                          <!-- Pizza Tittles -->
                          <div class="media-body">
                            <div class="menu-tittle">
                              <h5>03. Farmer</h5>
                              <span>Cheese, Tomato Sauce, Garlic, Oregano</span> </div>
                            <!-- Choose Btn --> 
                            <a href="#." class="choo-pizza"> Choose</a> 
                            <!-- Pizza Price -->
                            <div class="pizza-price">$14.00</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  
                  <!-- Own Pizza -->
                  <div role="tabpanel" class="tab-pane" id="own-pizza-3"> 
                    
                    <!-- Heading -->
                    <div class="heading step-head text-center margin-top-50 margin-bottom-50">
                      <h6>Choose Your Ingredients:</h6>
                    </div>
                    
                    <!-- Ingredients -->
                    <div class="ingredients">
                      <ul>
                        <!-- Cheese -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox1-1">
                            <label for="checkbox1-1"> <img src="images/compose-icon-1.png" alt="" > <span>Cheese +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Chicken -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox2-1">
                            <label for="checkbox2-1"> <img src="images/compose-icon-2.png" alt="" > <span>Chicken +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- FIsh  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox3-1">
                            <label for="checkbox3-1"> <img src="images/compose-icon-3.png" alt="" > <span>FIsh  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Avocado  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox4-1">
                            <label for="checkbox4-1"> <img src="images/compose-icon-4.png" alt="" > <span>Avocado  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Broccoli  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox5-1">
                            <label for="checkbox5-1"> <img src="images/compose-icon-5.png" alt="" > <span>Broccoli  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Pepperoni  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox6-1">
                            <label for="checkbox6-1"> <img src="images/compose-icon-6.png" alt="" > <span>Pepperoni  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Olives  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox7-1">
                            <label for="checkbox7-1"> <img src="images/compose-icon-7.png" alt="" > <span>Olives  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Onion  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox8-1">
                            <label for="checkbox8-1"> <img src="images/compose-icon-8.png" alt="" > <span>Onion  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Paprika  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox9-1">
                            <label for="checkbox9-1"> <img src="images/compose-icon-9.png" alt="" > <span>Paprika  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Prawns  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox10-1">
                            <label for="checkbox10-1"> <img src="images/compose-icon-10.png" alt="" > <span>Prawns  +$3.00</span> </label>
                          </div>
                        </li>
                        <!-- Ham  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox11-1">
                            <label for="checkbox11-1"> <img src="images/compose-icon-11.png" alt="" > <span>Ham  +$2.00</span> </label>
                          </div>
                        </li>
                        <!-- Tomatoes  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox12-1">
                            <label for="checkbox12-1"> <img src="images/compose-icon-12.png" alt="" > <span>Tomatoes  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- eggplant  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox13-1">
                            <label for="checkbox13-1"> <img src="images/compose-icon-13.png" alt="" > <span>eggplant +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Garlic  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox14-1">
                            <label for="checkbox14-1"> <img src="images/compose-icon-14.png" alt="" > <span>Garlic  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- leek  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox15-1">
                            <label for="checkbox15-1"> <img src="images/compose-icon-15.png" alt="" > <span>leek  +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Mushrooms -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox16-1">
                            <label for="checkbox16-1"> <img src="images/compose-icon-16.png" alt="" > <span>Mushrooms +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Spinach  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox17-1">
                            <label for="checkbox17-1"> <img src="images/compose-icon-17.png" alt="" > <span>Spinach +$1.00</span> </label>
                          </div>
                        </li>
                        <!-- Pineapple  -->
                        <li>
                          <div class="checkbox">
                            <input type="checkbox" id="checkbox18-1">
                            <label for="checkbox18-1"> <img src="images/compose-icon-18.png" alt="" > <span>Pineapple  +$1.00</span> </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <hr class="margin-top-30 margin-bottom-50">
        
        <!-- Continue to Payment -->
        <div class="last-liner">
          <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.</p>
          <a href="#." class="btn btn-round">Continue to Payment</a> </div>
      </div>
    </div>
  </div>
  
  <!-- FOOTER -->
  <footer class="tri-white-top">
    <div class="container">
      <div class="row">
        <div class="col-md-8 center-block text-center"> <img class="margin-bottom-50" src="images/logo-foot.png" alt="" >
          <div class="row">
            <div class="col-md-6">
              <p>We love Italy, we love italian food. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero.</p>
            </div>
            <div class="col-md-6">
              <p>Pizza is here, we love italian food. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus. BON APPETIT!</p>
            </div>
          </div>
          
          <!-- NEWSLETTER -->
          <div class="newsletter">
            <h6>Join Newsletter</h6>
            <form>
              <label>
                <input type="search" placeholder="Your Email Address">
              </label>
              <button type="submit"><i class="fa fa-envelope-o"></i></button>
            </form>
          </div>
          
          <!-- Social Icons -->
          <div class="social-icons"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-google"></i></a> </div>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- RIGHTS -->
  <section class="rights tri-white-top">
    <div class="container">
      <p>Copyright 2016 © Pizza Mia. All rights reserved. Powered by UOUapps</p>
    </div>
  </section>
</div>
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/own-menu.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.t.min.js"></script> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.min.js"></script> 
<script src="js/main.js"></script> 

<!-- Begin Map Script--> 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> 
<script src="js/map.js"></script>
</body>
</html>